@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  /* padding: 2.4rem 4rem 0 4rem; */
}
.nav {
  max-width: 111rem;
  margin: 0 auto;
  margin-bottom: 17.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.nav__cta {
  background: #13183f;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
  border-radius: 2.8rem;
  padding: 1.4rem 3.1rem;
}
.main {
  border: 1px solid transparent;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding-left: 4rem;
  padding-right: 4rem;
}
.hero {
  max-width: 111rem;
  margin: 0 auto;
  margin-bottom: 25rem;
}
.hero__textbox {
  max-width: 45.7rem;
}
.hero__title {
  color: #13183f;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7.1rem;
  margin-bottom: 2.9rem;
}
.hero__description {
  color: #83869a;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 4rem;
  max-width: 44.5rem;
}
.hero__cta {
  display: inline-block;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
  border-radius: 3.15rem;
  padding: 1.9rem 3.1rem 1.6rem 3.2rem;
}
.hero__imgbox {
  max-width: 99.163rem;
  height: 93.692rem;
  position: absolute;
  top: -15rem;
  right: -30rem;
}
.features {
  max-width: 110rem;
  margin: 0 auto;

  margin-bottom: 14rem;
}
.features__feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 3rem;
}
.features__feature-main {
  border-radius: 1.5rem;
  padding: 6.4rem 3.2rem 0 3.2rem;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.features__feature {
  padding: 6.4rem 3.2rem 4rem 3.2rem;
  border-radius: 15px;
  box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
  position: relative;
  background-color: white;
}
.features__f {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
  color: white;
}
.features__iconbox {
  position: absolute;
  top: -2.4rem;
  left: 3.2rem;
}
.features__title {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #13183f;
  margin-bottom: 2.4rem;
}
.features__description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #83869a;
  margin-bottom: 2.4rem;
  max-width: 28.6rem;
}
.features__cta {
  color: #f74780;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.footer {
  background: #13183f;
  padding: 3.2rem 4rem;
}
.container {
  width: 100%;
  max-width: 1110px;
}
.footer__cta {
  border-radius: 2.8rem;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  padding: 1.4rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
}
