@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  padding-top: 2.4rem;
  position: relative;
  overflow-x: hidden;
}
.nav {
  max-width: 111rem;
  margin: 0 auto;
  margin-bottom: 17.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.nav__cta {
  background: #13183f;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
  border-radius: 2.8rem;
  padding: 1.4rem 3.1rem;
}
.nav__cta:focus,
.nav__cta:hover {
  background: #666ca3;
}
.main {
  border: 1px solid transparent;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  padding-left: 4rem;
  padding-right: 4rem;
}
.hero {
  max-width: 111rem;
  margin: 0 auto;
  margin-bottom: 25rem;
}
.hero__textbox {
  max-width: 45.7rem;
}
.hero__title {
  color: #13183f;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7.1rem;
  margin-bottom: 2.9rem;
}
.hero__description {
  color: #83869a;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 4rem;
  max-width: 44.5rem;
}
.hero__cta {
  display: inline-block;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
  border-radius: 3.15rem;
  padding: 1.9rem 3.1rem 1.6rem 3.2rem;
}
.hero__cta:hover,
.hero__cta:focus {
  opacity: 0.5;
}
.hero__imgbox {
  max-width: 99.163rem;
  height: 93.692rem;
  position: absolute;
  top: -15rem;
  right: -30rem;
  z-index: 0;
}
.features {
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 14rem;
}
.features__feature-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 3rem;
}
.features__feature-main {
  border-radius: 1.5rem;
  padding: 6.4rem 3.2rem 0 3.2rem;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}
.features__f {
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
  color: white;
}
.features__feature {
  padding: 6.4rem 3.2rem 4rem 3.2rem;
  border-radius: 15px;
  box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
  position: relative;
  background-color: white;
}

.features__iconbox {
  position: absolute;
  top: -2.4rem;
  left: 3.2rem;
}
.features__title {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #13183f;
  margin-bottom: 2.4rem;
}
.features__description {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #83869a;
  margin-bottom: 2.4rem;
  max-width: 28.6rem;
}
.features__cta {
  color: #f74780;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
.features__cta:hover,
.features__cta:focus {
  color: #ffa7c3;
}
.footer {
  background: #13183f;
  padding: 3.2rem 4rem;
}
.container {
  width: 100%;
  max-width: 1110px;
  flex-wrap: wrap;
}
.footer__cta {
  border-radius: 2.8rem;
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  padding: 1.4rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: white;
}
.footer__cta:hover,
.footer__cta:focus {
  opacity: 0.5;
}
.hero__imgbox--mobile {
  display: none;
}
@media all and (max-width: 1259px) {
  body,
  html {
    overflow: initial;
  }
  .hero__imgbox--desktop {
    display: none;
  }
  .hero {
    display: flex;
    margin-bottom: 15rem;
  }
  .hero__imgbox--mobile {
    display: flex;
    position: relative;
    top: initial;
    right: initial;
    max-width: 62.7rem;
    height: 60.1rem;
  }
}
@media all and (max-width: 1019px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media all and (max-width: 875px) {
  .nav {
    margin-bottom: 9.9rem;
  }
  .hero {
    margin-bottom: 21rem;
  }
  .features {
    max-width: 68.9rem;
    margin-bottom: 8.6rem;
  }
  .features__feature-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.6rem 1rem;
  }
  .features__feature-main {
    padding: 5.6rem 2.1rem 0 3.2rem;
  }
  .features__f {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .features__feature {
    padding: 5.6rem 2.2rem 3.2rem 3.2rem;
  }
  .features__title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.6rem;
  }
  .features__description {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
@media all and (max-width: 768px) {
  .hero {
    text-align: initial;
  }
}

@media all and (max-width: 600px) {
  .nav {
    margin-bottom: 3.8rem;
  }
  .hero {
    margin-bottom: 6.6rem;
  }
  .features {
    max-width: 343rem;
    margin-bottom: 8rem;
    text-align: center;
  }
  .features__feature-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem 0rem;
  }
  .features__feature-main {
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  }
  .features__feature {
    padding: 5.6rem 2.9rem 3.2rem 2.8rem;
  }
  .features__iconbox {
    left: 50%;
    transform: translateX(-50%);
  }

  .features__description {
    margin: 2.4rem auto;
  }
}
@media all and (max-width: 467px) {
  .nav,
  .main {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
  .hero__title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2.6rem;
  }
  .hero__imgbox--mobile {
    max-width: 42.7rem;
    height: 40.1rem;
  }
}
@media all and (max-width: 375px) {
  .features {
    text-align: initial;
  }
  .features__iconbox {
    left: 2.8rem;
    transform: translateX(0%);
  }
}
